[submodule "ECommons"]
	path = ECommons
	url = https://github.com/jqnxokbmeoiqwncv/ECommons
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/jqnxokbmeoiqwncv/OtterGui
[submodule "Glamourer.Api"]
	path = Glamourer.Api
	url = https://github.com/jqnxokbmeoiqwncv/Glamourer.Api
[submodule "Penumbra.Api"]
	path = Penumbra.Api
	url = https://github.com/jqnxokbmeoiqwncv/Penumbra.Api
